/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  
  a {
    color: #ffb727;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffc85a;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /* Header */

  #header {
    padding: 0 16px;
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
  }

  #header.header-transparent {
    background: rgba(255, 255, 255, .98);
  }

  /* Start */

  .start {
    display: flex;
    height: 56px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .start .category {
    color: #030303;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    background: none;
    border: none;
    margin: 0;
    padding: 8px 0;
  }
  
  .logo {
    width: 130px;
    margin-left: 8px;
    display: block;
    height: 56px;
    justify-content: center;
    align-items: center;
  }

  .logo__link {
    display: block;
    height: 100%;
    width: 100%;
    align-self: center;
    align-items: center;
  }

  .logo .img__logo {
    padding: 18px 14px 18px 16px;
  }

  /* Center */

  .center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 1 728px;
    min-width: 0px;
  }

  .center .searchbox {
    margin: 0;
  }

  .voice-search-box {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #f9f9f9;
    margin-left: 8px;
    justify-content: center;
    border: none;
  }

  .voice-search-box__link {
    display: block;
  }

  /* End */

  .end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .end .end__menu-btn {
    width: 40px;
    height: 40px;
    outline: none;
    background: none;
    margin: 0;
    padding: 6px;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  
  .end .end__menu-img {
    padding: 8px;
  }

  .end .img-shadow {
    display: block;
  }

  .end__signin-btn {
    height: 40px;
    /* display: flex; */
    margin: auto 0;
    border: 1px solid #075fd4;
  }

  .end__signin-link, .sidebar__login-btn {
    display: flex;
    padding: 7px 11px;
    color: #075fd4;
  }

  .end__signin-btn .icon, .sidebar__login-btn .icon {
    height: 24px;
  }

  .end__signin-text, .sidebar__login-text {
    color: #075fd4;
    margin-left: 8px;
    text-transform: uppercase;
    font-weight: 550;
  }

   #video {
       width: 100%;
       height: 600px;
       margin-top: 60px;
   }

   #details {
    padding-top: 24px;
    background-color: #f9f9f9;
   }

   #details h3 {
    font-family: "Roboto","Arial",sans-serif;
    color: #030303;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 20px;
   }

   .info {
     height: 40px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 6px;
   }

   .info-text {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    max-height: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
   }

   .info-text span:first-child::after {
    content: "•";
    margin: 0 4px;
   }

   .menu-container {
      height: 40px;
      display: flex;
      flex-direction: flex-end;
      align-items: center;
      max-height: 2rem;
    }

   .details__opt-btn {
     display: flex;
     margin-left: 10px;
     margin-right: 10px;
   }  
   
   .details__opt-icon {
    width: 24px;
    height: 24px;
   }

   .menu-container .text {
     font-size: 14px;
     font-weight: 550;
     line-height: 24px;
     margin-left: 6px;
     color: #030303;
     align-items: center;
   }

   .channel-content {
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
   }

   .channel-content__top {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
   }

   .wrap {
     display: flex;
     align-items: center;

   }

   .channel-content__top #img {
      border-radius: 50%;
      margin-right: 16px;
   }

   .channel-name {
    font-size: 14px;
    font-weight: 550;
    line-height: 24px;
    color: #030303;
    align-items: center;
   }

   .subcribe-btn {
     height: 38px;
     width: 120px;
     font-size: 14px;
     letter-spacing: .5px;
     align-items: center;
     text-transform: uppercase;
     border: none;
     border-radius: 4px;
     color: #ffffff;
     background-color: #c00;
     margin: auto 0;
   }

   .channel-description {
     margin-left: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
   }

   .list-video {
     display: flex;
     margin-bottom: 10px;
   }

   .item-title {
    margin: 0 0 4px 0;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 550;
    color: #030303;
    max-height: 4rem;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
   }

   .list-video__item {
     margin-left: 6px;
   }

   .list-video__item p {
     margin: 0;
    color: #606060;
    font-size: 12px;
   }

   .view-wrap {
     display: flex;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    overflow: hidden;
    color: #606060;
   }

   .view-wrap span:first-child::after {
    content: "•";
    margin: 0 4px;
   }

   .channel-description  {
    color: #030303;
   }

   



